/* General Background Colors */
:root {
  --primary: 221.2 83.2% 53.3%;

  --bg-pageBackground: rgb(255, 255, 255);
  --bg-taskDetailPage: rgb(250, 250, 252);
  --bg-containerBackground: white;
  --bg-containerBackground-inverted: #212429;
  --bg-taskDetail-container: white;
  --bg-cardBackground: #f9f9f9;
  --bg-modalBackground: white;
  --bg-hover-active: #e9e9e9;
  --bg-comment-description: #f9f9f9;
  --bg-newComment-container:#f9f9f9;
  --bg-ai-chat-tiptap: #f9f9f9;
  --bg-ai-chat: white;
  --bg-label-span: rgb(225, 225, 225);
  --bg-back-button: white;
  --bg-tooltip:#d1d1d1;
  --bg-task-tag:rgb(160, 160, 160);
  --bg-sidebar:#f3f3f3;
  --bg-self-comment:white;
  --bg-dropdown:#8d8e8f;
  --bg-mention:white;
  --bg-reactions:#e7e7e7;
  --bg-horizontal-scrollbar:white;
  --bg-mention-highlight:#f9efcb;
  blockquote {
    border-left: 3px solid var(--color-text-light-gray) !important;
    padding-left: 1rem;
  };
  


}

/* Hover Backgrounds */
:root {
  --hover-cardBackground: #d0d0d0;
}

/* Active Backgrounds */
:root {
  --active-cardBackground: #ececec;
  --active-elementBg:#ececec;
  --active-modal-element:#ececec;
  --active-kanbanCardbg: #eeeeee;
  --active-mentionList:var(--active-modal-element);
  --active-list-element:#ececec;

}

/* Colors */
:root {
  --color-page-background:var(--bg-pageBackground);
  --color-white-black: #262525;
  --color-white-black-inverted: white;
  --color-text-light-gray: #666666;
  --color-border: 240 5.9% 90%;
  --color-border-comment-description: var(--bg-comment-description);
  --bg-newcomment-well: #ececec;
  --color-my-comment:var(--color-white-black-inverted);
  --em-rgb-color: white;
  --color-text-labelComponent:#666666;
  --shadcn-primary: 240 5.9% 10%;
  --primary-foreground: 0 0% 98%;
  --secondary: 240 4.8% 95.9%;
  --secondary-foreground: 240 5.9% 10%;
  --muted: 0deg 0.48% 49.52%;
  --muted-foreground: 240 3.8% 46.1%;
  --accent: 240 4.8% 95.9%;
  --accent-foreground: 240 5.9% 10%;
  --destructive: 0 72.22% 50.59%;
  --destructive-foreground: 0 0% 98%;
  --border: 240 5.9% 90%;
  --border-self-comment: 0,0,0,0.40;
  --border-light-gray-thin:rgb(224, 224, 224);
  --input: 240 5.9% 90%;
  --ring: 240 5% 64.9%;
  --button-arrow-disabled:rgb(220, 219, 219);
  --button-arrow:rgb(134, 132, 132);
  --color-kanban-column-scrollbar:transparent;
  --color-horizontal-scrollbar-track:#4F5766;
  --color-mention-highlight:#1365a3;
  --color-rich-text-link: #1365a3;
  --color-archived-state: #166534;
  --color-pull-request-open: #1a7f37;
  --color-pull-request-checks-red: #cf222e;
  --color-pull-request-green: #1a7f37;
  --color-pull-request-merged: #8250df;
}

/* Focus Rings */
:root {
  --focus-ring: var(--color-white-black);
  --border-active: #262525;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  :root {
    --bg-taskDetailPage: rgb(255, 255, 255);
    --bg-containerBackground: #f7f7f7;
    --bg-comment-description: #f9f9f9;
    --bg-newComment-container:#f9f9f9;

  }
}
